/adonet/sqlconnection/StrongDataSet/obj
/adonet/sqlconnection/StrongDataSet/bin
/ADONET/SQLConnection/SQLConnection/bin
/ADONET/SQLConnection/SQLConnection/obj
/ADONET/CommonTest/CommonTest/bin
/ADONET/CommonTest/CommonTest/obj
/ADONET/CommonTest/DelagateTest/obj
/ADONET/CommonTest/DelagateTest/bin
/adonet/commontest/DelagateTest/bin
/adonet/commontest/DelagateTest/obj
