<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ExportGroupCSVPath" value="C:\Automation\TestTools\SystemDeviceGroup\Original"></add>
    <add key="DifferentCSVPath" value="C:\Automation\TestTools\SystemDeviceGroup\Different"></add>
    <add key="ConfigPath" value="C:\Automation\TestTools\Config"></add>
    <add key="DBName" value="BeiJingDomain"></add>
    <add key="DBTenantName" value="BeiJing"></add>
    <add key="ExportDevicePath" value="C:\Automation\TestTools\Device"></add>
    <add key="DeviceSchemaCSVPath" value="C:\Automation\TestTools\DeviceSchema"></add>
  </appSettings>
  <connectionStrings>
    <add name="Pgconnection" connectionString="Server=10.10.5.129;Port=54321;UserId=postgres;Password=postgres;Database=workspace2;"/>
    <!--
    <add name="MongoDBStr" connectionString="mongodb://mongodb:mongodb@10.10.16.28:27017"/> 
    -->
    <add name="MongoDBStr" connectionString="mongodb://mongodb:mongodb@10.10.16.28:27017"/>
  </connectionStrings>
</configuration>